{% extends 'home/base.html' %}

{% block title %}
Student Dash
{% endblock %}

{% block content %}
<div>
    <nav>
        <a href="{% url 'logout' %}">Log Out</a>
        <a href="{% url 'graph' %}"> Graphing Calculator</a>
    </nav>
    <br>
    <header>
        Welcome {{ user.username }}
    </header>
    <br>
    <div>
        
        {% if user.maths == True %}
        <a href="{% url 'subject' %}">
            Maths
        </a>
        {% endif %}

        {% if user.further_maths == True %}
        <br>
        <a href="{% url 'subject' %}">
            Further Maths
        </a>
        {% endif %}
        <br>
        <a href="{% url 'qform' %}">What topic would you like to practice today?</a>
        <a href="{% url 'assess' %}">Weekly Assessments</a>
        <p>Would you like to practice some more <a href="#">{{ mathstopic }}</a> today?</p>

    </div>
</div>


{% endblock %}
