{% extends 'home/base.html' %}

{% block css %}
<style>
  img {
width: 40rem;
height: 30rem;
  }

  math-field {
    height: 3rem;
    width: 10rem;
  }
</style>
{% endblock css %}

{% block scripts %}

<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

{% endblock scripts %}

{% block content %}

<nav>
  <a href="{% url 'dash' %}">Back To Student Dash</a>
</nav>

{% if student_questions %}

  <form action="" method="post">
    {% csrf_token %}
    {% for q in student_questions %}

    <!--Uses a for loop to show questions from the query set of the user -->
    <div>
      <br>
          <label for="">
            {{ q.question }}
          </label>
          <br>
          
          <br>
          
          <math-field name="{{ q.question }}"></math-field>
    </div>
      <br> 


    <div>
      {% if good %}
      <p>{{ good }}</p>
      <img src="{{ q.mark_scheme.url }}" alt="">
      {% endif %}
    </div>

    <div>
      {% if bad %}
      <p>{{ bad }}</p>
      <img src="{{ q.mark_scheme.url }}" alt="">
      {% endif %}
    </div>

    <script defer src="//unpkg.com/mathlive"> 
      
     </script>

   {% endfor %}

   <button type="submit">Submit</button>
  </form>
{% endif %}
{% endblock %}
