{% extends 'home/base.html' %}

{% block css %}
<style>
  img {
width: 40rem;
height: 30rem;
  }

  textarea {
    display:none
  }
</style>
{% endblock css %}

{% block scripts %}

<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<script defer src="//unpkg.com/mathlive">
</script>

{% endblock scripts %}

{% block content %}

{% if student_questions %}

  <form action="" method="post">
    {% csrf_token %}
    {% for q in student_questions %}

    <!--Uses a for loop to show questions from the query set of the user -->
    <div>

      <br>
        <label for="">
            {{ q.question }}
          </label>
          <br>
          <math-field id="formula">
           
          </math-field>
          <br>
          <textarea name="{{ q.question }}" class="output" id="latex" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false"></textarea>
        </div>
      <br>

      <script>
        const mf = document.getElementById("formula");
const latex = document.getElementById("latex");

mf.addEventListener("input",(ev) => latex.value = mf.value);

latex.value = mf.value;

// Listen for changes in the "latex" text field, 
// and reflect its value in the mathfield.

latex.addEventListener("input", (ev) => 
    mf.setValue(
      ev.target.value, 
      {suppressChangeNotifications: true}
    )
);
      </script>
    
    <div>
      {% if good %}
      <p>{{ good }}</p>
      <img src="{{ markscheme }}" alt="">
      {% endif %}
    </div>

    <div>
      {% if bad %}
      <p>{{ bad }}</p>
      <img src="{{ markscheme }}" alt="">
      {% endif %}
    </div>

   {% endfor %}

   <button type="submit">Submit</button>
  </form>
{% endif %}
{% endblock %}
