{% extends 'home/base.html' %}
{% block css %}
<style>
</style>
{% endblock css %}
{% block scripts %}
<script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>
{% endblock scripts %}

{% block content %}

{% if student_questions %}
  <form action="" method="post">
    {% csrf_token %}
    {% for q in student_questions %}
    <div>
        <label for="">
            {{ q.question }}
          </label>
          <img src="{{ q.image.url }}" alt="">
          <br>
          <input type="text" name="{{ q.question }}" id="">
    </div>
    <br>
   {% endfor %}
   <button type="submit">Submit</button>
  </form>
{% endif %}


{% if msg %}
{{ msg }}
{% endif %}

{% endblock %}
