{% extends 'home/base.html' %}
{% block content %}
<a href="{% url 'homepage' %}">Back to Home</a>
<br>

{% if success %}
<div>{{ success }}</div>
{% endif %}

{% if error %}
<div>{{ error }}</div>
{% endif %}

<div class="container">
    <form method="POST">
      <fieldset>
        <legend>Form</legend>
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Submit</button>
      </fieldset>
    </form>
</div>
<div>
  <a href="{% url 'login' %}">Already have an account?</a>
</div>

{% endblock %}