{% extends 'home/base.html' %}

{% block title %}
Student Dash
{% endblock %}

{% block content %}
<div>
    <nav>
        <a href="{% url 'logout' %}">Log Out</a>
        <a href="{% url 'graph' %}"> Graphing Calculator</a>
    </nav>
    <br>
    <header>
        Welcome {{ user.username }}
    </header>
    <br>
    <div>
        {% if user.maths == True %}

        <a href="{% url 'quadratics' %}">Quadratics</a>
        <br>

        {% endif %}
        
        {% if user.further_maths == True %}
        
        {% endif %}
    </div>
</div>


{% endblock %}
